body {
	overflow-y: scroll;
	top: 0 !important;
}


/* Make the dropdowns 100% width */
.lang-dropdown {
	min-width: 118px;
    width: 100%;
}

.user-dropdown {
	min-width: 130px;
    width: 100%;
}




/*###############################
     Registration
###############################*/

.usertype-btn {
	height: 70vh;
}

.usertype-icon {
	font-size: 3em;
}

.usertype-txt {
	white-space: normal;
}


/*###############################
     User Profiles
###############################*/


#profile-about-txt {
	/* float: left; */
}

#profile-image {
	width: 300px;
	height: 300px;
	background-color: beige;
	/* float: right; */
}

img.profile-pic {
	width: 100%;
    /* border-radius: 50%; */
}


/* Profile picture edit overlay */

.image-overlay {
    position:relative;
    width:300px;
    height:300px;
    cursor: pointer;
}
.image-overlay #profile-image img.profile-pic {
    width:100%;
    vertical-align:top;
}
.image-overlay:after, .image-overlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image-overlay:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image-overlay:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:grey;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image-overlay:hover:after, .image-overlay:hover:before {
    opacity:1;
}

/* File upload form */
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: default;
}





.search_location_label {
    font-size: 1.4em;
}

.label-location {
    min-width: 100px;
    display: inline-block;
}

.link-to-profile {
    /* float: right; */
}




/*###############################
     Google Translate
###############################*/

/* Hide Translated by Google bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}

/* Hide google translate element */
#google_translate_element {
	display:none;
}

/* Languages in dropdown menu */
.lang-btn {
	cursor: pointer;
}