body {
	overflow-y: scroll;
	top: 0 !important;
}


/* Make the dropdowns 100% width */
.lang-dropdown {
	min-width: 118px;
    width: 100%;
}

.user-dropdown {
	min-width: 130px;
    width: 100%;
}




/*###############################
     Registration
###############################*/

.usertype-btn {
	height: 70vh;
}

.usertype-icon {
	font-size: 3em;
}

.usertype-txt {
	white-space: normal;
}


/*###############################
     User Profiles
###############################*/


#profile-about-txt {
	/* float: left; */
}

#profile-image {
	width: 300px;
	height: 300px;
	background-color: beige;
	/* float: right; */
}




/*###############################
     Google Translate
###############################*/

/* Hide Translated by Google bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}

/* Hide google translate element */
#google_translate_element {
	display:none;
}

/* Languages in dropdown menu */
.lang-btn {
	cursor: pointer;
}